.search {
    -webkit-appearance: none;
    border: none;
    outline: none;
    padding:0.625em;
    width: 10em;
    line-height:2em;
    margin-bottom: 2em;
}

.search::placeholder {
    color: transparent;
    background:linear-gradient(to right, #42a, #3a6);
    background-clip:text;
    font-weight:500;
    opacity:0.7;
}